body {
    margin: 0;
    padding: 0;
}

.tracker-container{
    background: #950740;
    text-align: center;
    padding: 5px;
}

.hospital-container{
    background: #950740;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

.lastupdate{
    background: #950740;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    font-weight: bold;

}

canvas{
    width: 80%;
    margin: 20px auto;
}

html {
    background-color: #1A1A1D;
    font-family: 'Roboto', sans-serif;
    color: white;
}