.tracker-container{
    background: #950740;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
}

.hospital-container{
    background: #950740;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border-radius: 30px;
}

.lastupdate{
    background: #950740;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 30px;

}

canvas{
    width: 80%;
    margin: 20px auto;
}

html {
    background-color: #1A1A1D;
    font-family: 'Roboto', sans-serif;
    color: white;
}